span{
    text-align: left;
    color:black;
    text-size-adjust: 100;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
img{
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    position: relative;
    top: 16px;
    right: -706px;
}
.content-section{
    background-color: blueviolet;
    padding: 0 60px;
    color:black;

}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: extra xx-large;
}
p{
    font-size: large;
}

